<div class="text-center">
	<div class="container">
		<form>
			<br>
			<div class="well">
				<h2>Enter url to make request</h2>
				<p> <b>If node is activated:</b> url is http://localhost:8080<br>
					<b>To activate node:</b> open terminal and locate to plcServer/src/modbus and type<br>
									  sudo node modbus-server<br>
									  sudo node server
				</p>
			</div>
			<br>
			<br>
			<br>
			The integervalue inside the [ ] brackets is the function code <br>
			(defined in the modbus protocol) send to the plc device.<br><br>
            <div class="btn-group">
            	<label class="btn btn-info" ng-model="checkModel.readCoil" ng-click="segment('READ_COIL')" btn-radio="'readCoil'" uncheckable>Read coil [1]</label>
        		<label class="btn btn-info" ng-model="checkModel.readRegister" ng-click="segment('READ')" btn-radio="'read'" uncheckable>Read input register [4]</label>
        		<label class="btn btn-info" ng-model="checkModel.writeCoil" ng-click="segment('WRITE')" btn-radio="'write'" uncheckable>Write single coil [5]</label>
        		<label class="btn btn-info" ng-model="checkModel.writeRegister" ng-click="segment('WRITE_REGISTER')" btn-radio="'writeRegister'" uncheckable>write sindle register [6]</label>
    		</div>
            <br><br>
		    <div ng-show="checkModel.readRegister">
				Data start at address (16 bit address of coil): 
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="startAtAdress" ng-model="data1" >
					</div>
				</div>
				How many registers to read:
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="howManyBytes" ng-model="data2">
					</div>
				</div>
				Url or ip to device/server: 
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="url" ng-model="url">
					</div>
				</div>
			</div>
			
			<div ng-show="checkModel.writeCoil">
				Pin to force write (16 bit address of coil): 
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="startAtAdress" ng-model="data1" >
					</div>
				</div>
				Value to write (0 for off and 65,280 for on, FF00 in hex):
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="valueToWrite" ng-model="data2">
					</div>
				</div>
				Url or ip to device/server: 
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="url" ng-model="url">
					</div>
				</div>
			</div>

			<div ng-show="checkModel.readCoil">
				Address of first coil/discrete input to read (16-bit): 
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="startAtAdress" ng-model="data1" >
					</div>
				</div>
				Number of coils/discrete inputs to read (16-bit):
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="valueToWrite" ng-model="data2">
					</div>
				</div>
				Url or ip to device/server: 
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="url" ng-model="url">
					</div>
				</div>
			</div>
    
    		<div ng-show="checkModel.writeRegister">
				Address of holding register to preset/write (16-bit): 
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="startAtAdress" ng-model="data1" >
					</div>
				</div>
				New value of the holding register (16-bit):
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="valueToWrite" ng-model="data2">
					</div>
				</div>
				Url or ip to device/server: 
				<div class="row">
					<div class="form-group col-lg-4 col-lg-offset-4">
						<input class="form-control" type="text" name="url" ng-model="url">
					</div>
				</div>
			</div>
 
 		</form>	
	</div>
	<button class="btn btn-primary" ng-click="sendRequest(url,data1,data2)">Send request</button>
	<br>
	<ul>
	<div ng-repeat="element in dataFromServer">
		<li>{{element.response}}</li>
	</div>
	</ul>
</div>